*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    font-family: 'Montserrat Alternates';
}

.allBox{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(182, 182, 182);
    width: 30vw;
    height: 95vh;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: #000;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 25vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
}

.headerTop{
    display: flex;
    background-color: #c9b3e9;
    width: 100%;
    height: 50vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerMiddle{
    display: flex;
    width: 7vw;
    height: 14vh;
    border-radius: 100px;
    padding: 0.5%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 4%;
}

.headerMiddle img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.middleBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60vh;
    align-items: center;
}

.middleBox1 {
    display: flex;
    width: 80%;
    height: 6vh;
}

.middleBox1_Centre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #c9b3e9; 
}

.middleBox1_Centre h1 {
    font-size: 100%;
    height: auto;
    width: auto;
}

.middleBox1_Centre input{
    width: 99%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: #d4c1f0;
    padding-left: 3%;
    color: #fff;
    font-family: 'Montserrat Alternates';
}

.middleBox1_Centre input::placeholder{
    color: #ffffff;
}

.middleBox1_Centre input:focus{
    color: #ffffff;
    border: none ;
}


.middleBox2 {
    display: flex;
    width: 80%;
    height: 6vh;
    margin-top: 2%;
}

.middleBox2_Centre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #c9b3e9; 
}

.middleBox2_Centre h1 {
    font-size: 100%;
    height: auto;
    width: auto;
}

.middleBox2_Centre input{
    width: 99%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: #d4c1f0;
    padding-left: 3%;
    color: #fff;
    font-family: 'Montserrat Alternates';
}

.middleBox2_Centre input::placeholder{
    color: #ffffff;
}

.middleBox2_Centre input:focus{
    color: #ffffff;
    border: none ;
}


.middleBox3 {
    display: flex;
    width: 80%;
    height: 6vh;
    margin-top: 2%;
}

.middleBox3_Centre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #c9b3e9; 
}

.middleBox3_Centre h1 {
    font-size: 100%;
    height: auto;
    width: auto;
}

.middleBox3_Centre input{
    width: 99%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: #d4c1f0;
    padding-left: 3%;
    color: #fff;
    font-family: 'Montserrat Alternates';
}

.middleBox3_Centre input::placeholder{
    color: #ffffff;
}

.middleBox3_Centre input:focus{
    color: #ffffff;
    border: none ;
}


.middleBox4 {
    display: flex;
    width: 80%;
    height: 6vh;
    margin-top: 2%;
}

.middleBox4_Centre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #c9b3e9; 
}

.middleBox4_Centre h1 {
    font-size: 100%;
    height: auto;
    width: auto;
}

.middleBox4_Centre input{
    width: 99%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: #d4c1f0;
    padding-left: 3%;
    color: #fff;
    font-family: 'Montserrat Alternates';
}

.middleBox4_Centre input::placeholder{
    color: #ffffff;
}

.middleBox4_Centre input:focus{
    color: #ffffff;
    border: none ;
}



.middleBox5 {
    display: flex;
    width: 80%;
    height: 6vh;
    margin-top: 2%;
}

.middleBox5_Centre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #c9b3e9; 
}

.middleBox5_Centre h1 {
    font-size: 100%;
    height: auto;
    width: auto;
}

.middleBox5_Centre input{
    width: 99%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: #d4c1f0;
    padding-left: 3%;
    color: #fff;
    font-family: 'Montserrat Alternates';
}

.middleBox5_Centre input::placeholder{
    color: #ffffff;
}

.middleBox5_Centre input:focus{
    color: #ffffff;
    border: none ;
}


.middleBox6 {
    display: flex;
    width: 80%;
    height: 6vh;
    margin-top: 2%;
}

.middleBox6_Centre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #c9b3e9; 
}

.middleBox6_Centre h1 {
    font-size: 100%;
    height: auto;
    width: auto;
}

.middleBox6_Centre input{
    width: 99%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: #d4c1f0;
    padding-left: 3%;
    color: #fff;
    font-family: 'Montserrat Alternates';
}

.middleBox6_Centre input::placeholder{
    color: #ffffff;
}

.middleBox6_Centre input:focus{
    color: #ffffff;
    border: none ;
}




.middleBox7 {
    display: flex;
    width: 80%;
    height: 6vh;
    margin-top: 2%;
}

.middleBox7_Centre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #c9b3e9; 
}

.middleBox7_Centre h1 {
    font-size: 100%;
    height: auto;
    width: auto;
}

.middleBox7_Centre input{
    width: 99%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: #d4c1f0;
    padding-left: 3%;
    color: #fff;
    font-family: 'Montserrat Alternates';
}

.middleBox7_Centre input::placeholder{
    color: #ffffff;
}

.middleBox7_Centre input:focus{
    color: #ffffff;
    border: none ;
}



.middleBox8 {
    display: flex;
    width: 80%;
    height: 6vh;
    margin-top: 2%;
}

.middleBox8_Centre {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #c9b3e9; 
}

.middleBox8_Centre h1 {
    font-size: 100%;
    height: auto;
    width: auto;
}

.middleBox8_Centre input{
    width: 99%;
    height: 40%;
    margin-top: 2%;
    border-radius: 10px;
    border: none;
    background-color: #d4c1f0;
    padding-left: 3%;
    color: #fff;
    font-family: 'Montserrat Alternates';
}

.middleBox8_Centre input::placeholder{
    color: #ffffff;
}

.middleBox8_Centre input:focus{
    color: #ffffff;
    border: none ;
}

.bottomBox{
    display: flex;
    width: 100%;
    height: 6vh;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
}

.bottomBox a {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #d4c1f0;
    border-radius: 10px;
}